<section class="players">
  <a href="#!/<%= mode %>/human-vs-cpu" class="human-vs-cpu">Human x CPU</a>
  <a href="#!/<%= mode %>/cpu-vs-cpu" class="cpu-vs-cpu">CPU x CPU</a>
</section>

<section class="game-modes">
  <a href="#!/traditional/<%= player1 %>-vs-cpu" class="traditional">Traditional</a>
  <a href="#!/lizard-spock/<%= player1 %>-vs-cpu" class="lizard-spock">Lizard-Spock</a>
</section>
