<div class="loading">
  <div class="loadSpinner">
    <div class="spinnerSpin1"></div><div class="spinnerSpin2"></div>
    <div class="spinnerSpin3"></div><div class="spinnerSpin4"></div>
    <div class="spinnerSpin5"></div><div class="spinnerSpin6"></div>
    <div class="spinnerSpin7"></div><div class="spinnerSpin8"></div>
  </div>
</div>